dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	@include font-size(1.25);
}

address {
	@include font-size(0.9375);
}

pre {
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}