h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1{
	@include font-size(6.854);
}

h2{
	@include font-size(4.236);
}

h3{
	@include font-size(2.618);
}

h4, h5, h6{
	@include font-size(1.618);
}

h4{
	text-transform: uppercase;
}

h6{
	font-style: italic;
}