dfn, cite, em, i {
	font-style: italic;
}

pre {
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

big {
	font-size: 125%;
}