$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #13a8b1;
$color__background-button-hover: #119FA6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #d95e0a;
$color__link-visited: #13a8b1;
$color__link-hover: #13a8b1;
$color__text-main: #666666;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Topbar and footer background and border colors
$topbar-footer-bg-color: #f8f8f8;
$topbar-footer-border-color: #dddddd;
$comment-box-border-color: #ddd;

//Heading color
$heading-color: #333333;

//Meta data colors
$meta-text-color: #d95e0a;
$meta-font-size: 13px;

//Navigation menu related variables
$accent-color: #13a8b1;
$nav-link-color: #fff;
$nav-item-border-color: #009999;
$nav-item-border-size: 1px;

//Comments area variable
$comment-metadata-color: #999;

//Social icon colors
$social-icon-color: #999999;
$social-icon-border-color: #eee;
$social-icon-hover-color: $accent-color;
